<div id="banner">
    {{!-- <img src="shield.jpg" alt="shieldAndSwords" id='shield'> --}}
    <h1 id="hi">THE HALL OF HEROES</h1>
</div>

<div id="wholePage">
<div id="firstContainer">
    {{#with featured}}
    <div id="featuredContainer">
        <img id="featured" src="{{url}}" alt="" onclick="window.location.href='/gallery/{{id}}'">
        <p id="textAuthor" class="imageText">~ {{author}} ~</p>
        <p id="textDescription" class="imageText">"{{description}}"</p>
    </div>
    {{/with}}
</div>


<ul class="galleryContainer">
    {{#each listings}}
    <li>
        <div class="artContainer">
            <img class="images" src="{{url}}" alt="" onclick="window.location.href='/gallery/{{id}}'">
            <p id="textAuthor" class="imageText">~ {{author}} ~</p>
            <p id="textDescription" class="imageText">"{{description}}"</p>
        </div>
    </li>
    {{/each}}
</ul>

<div class="newContainer">
    <form action="/gallery/new" method="GET">
        <button type="submit">
            Post New Artwork
        </button>
    </form>
</div>
</div>